$primary-color: #68e3a8;
$primary-background-color: #282828;
$white-color: white;
$card-height: 200px;
$card-width: 200px;
$rotate: 132deg;

// Classes

.f-c {
  display: flex;
  align-items: center;
}

.f-b-c {
  @extend .f-c;
  justify-content: space-between;
}

.f-l-b-c {
  @extend .f-b-c;
  flex-direction: column;
}

// Image section

.img-fl-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
